<!-- src/resources/view/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tín chỉ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main_interface.css">
    <link rel="stylesheet" type="text/css" href="/css/trang_chu.css">
</head>

<body>
    {{{body}}}
    <script defer src="/js/main_interface.js"></script>
</body>

</html>