<a href="/student/homepage"><i class="fas fa-home"></i> Trang chủ</a>
<a href="/student/student_info"><i class="fas fa-user-graduate"></i> Thông tin sinh viên</a>
<a href="/student/schedule"><i class="fas fa-calendar-alt"></i> Thời khóa biểu</a>
<a href="/student/enrollment"><i class="fas fa-edit"></i> Đăng ký học</a>
