<a href="/teacher/homepage"><i class="fas fa-home"></i> Trang chủ</a>
<a href="/teacher/profile"><i class="fas fa-user"></i> Hồ sơ cá nhân</a>
<a href="/teacher/schedule"><i class="fas fa-calendar-alt"></i> Lịch giảng dạy</a>
<a href="/teacher/class-student"><i class="fas fa-users"></i> Danh sách lớp</a>
