<body>
    <div class="logout-section">
        <h2>Bạn có chắc muốn đăng xuất?</h2>
        <button onclick="logout()">Đăng xuất</button>
        <button onclick="cancel()">Hủy</button>
    </div>
</body>

<link rel="stylesheet" type="text/css" href="css/sign_out.css">
<script defer src="js/sign_out.js"></script>
